package.json
package.json은 프로젝트의 정보를 정의하고, 의존하는 패키지 버전 정보를 명시하는 파일입니다.
프로젝트의 정보 - name, version 영역
패키지 버전 정보 - dependencies 또는 devDependencies 영역
명령어: npm init -y 처음 시작 할때
모듈 :모듈은 node.js의 require() 함수로 로드될 수 있는 node_modules 디렉토리안의 파일 또는 디렉토리입니다.
"dependencies": 프로덕션 환경에서 응용 프로그램에 필요한 패키지, 
프로젝트 의존성 관리를 위한 부분입니다. 이 프로젝트가 어떤 확장 모듈을 요구하는지 정리할 수 있습니다.
npm install 명령은 여기에 포함된 모든 확장 모듈들을 설치하게 되어 있습니다.
"devDependencies": 로컬 개발 및 테스트에만 필요한 패키지
실제 배포할때 devDependencies의 항목들은 배포가 안된다
npm install 명령어는 package.json안에 있는 항목들을 다운 받을 수 있다.

dependencies: 
    "bcryptjs": "^2.4.3",  : Bcrypt라는 암호 해싱 기능을 이용하여 데이터베이스에 암호화된 비밀번호 저장

    "body-parser": "^1.19.0", : API 요청에서 받은 body 값을 파싱하는 역할을 수행하는 것이 bodyParser 라는 미들웨어이다
.                                      parsing은 내가 가지고 있는 데이터를 내가 원하는 형태의 데이터로 ‘가공'하는 과정
                                       Express를 사용하여 요청에 대한 응답을 처리할 때 위 console.log(post) 부분에서 undefined를 볼 수 있습니다.
                                       즉, req.body 부분을 undefined로 처리하고 있습니다.
    "connect-flash": "^0.1.1",  :일회성 메시지들을 웹 브라우저에 나타낼때
                                       클라이언트가 웹사이트를 이용하다 요청 처리결과를 모르거나 알수없는 오류를 마주쳐서 당황하는것을 방지하기위해 
                                      미리 적어놓은 flashMessage로 요청 처리 결과나 에러를 띄워 줄 수있다. ex) "회원가입 완료" or "로그인 실패" 
                                       connect-flash는 쿠키(cookie)나 세션(session)을 필요합니다. 왜냐면 정보를 유지를 해야 하기 때문이죠.
                                        connect-flash은 휘발성으로 한번 실행되면 세션에 저장된 값이 없어집니다.
    "cookie-parser": "^1.4.5",
    "dotenv": "^8.2.0", :dotenv는 환경변수를 .env파일에 저장하고 process.env로 로드하는 의존성 모듈이다.
                             dotenv를 사용하는 이유는 우리가 개발을 하는 과정에서 서버주소, 고유 API KEY 값 등 필요한 정보들을 저장을 하게 된다. 그리고 이러한 정보들은 민감한 정보임과 동시에 보안이 이루어져야 하는 정보들이다. 만약 이러한 정보들이 오픈소스(깃허브)에 공개될 경우, 해킹을 당하거나 보안적인 면에서 위험할 수 있다.
                             이러한 문제로 dotenv패키지를 이용하여 환경변수 파일(.env)을 외부에 만들어 접근할 수 있게 하고, 개발 초기 단계에서 세팅하기를 권고한다.

    "ejs": "^3.1.2", :템플릿 엔진이란, 템플릿을 읽어 엔진의 문법과 설정에 따라서 파일을 HTML 형식으로 변환시키는 모듈입니다
                       EJS는 똑같은 HTML에서 <% %> 를 사용하여 서버의 데이터를 사용하거나 코드를 실행 할 수 있습니다.
                       EJS에서는 두가지만 알면 됩니다.
                     <% 자바스크립트 코드 %>
                      <% 출력 할 자바스크립트 객체 %>
                      2번에서는 자바스크립트 객체를 router 에서 받아 올 수도 있습니다.

    "express": "^4.17.1",
    "express-session": "^1.17.1",
    "express-validator": "^6.5.0",
    "mysql2": "^2.1.0",
    "passport": "^0.4.1",
    "passport-local": "^1.0.0"


"devDependencies": 
    "nodemon": "^2.0.3", : 자동으로 서버를 재시작 한다.
    "babel-cli": "^6.26.0",  :개발자들이 실행 환경에 구애받지 않고 항상 최신 문법의 자바스크립트로 코딩할 수 있도록 도와주는 유용한 도구인 바벨(Babel)
    "babel-preset-env": "^1.7.0"


middleware:하드웨어와 소프트웨어의 중간 제품. 마이크로 코드 등을 말한다. 
운영 체제와 응용 프로그램 중간에 위치하는 소프트웨어. 
주로 통신이나 트랜잭션 관리를 실행한다
-app에서 사용하는 미들웨어
내 어플리케이션 전반에서 사용하는 미들웨어다.
-router에 사용하는 미들웨어
app에서 사용하는 미들웨어와 같지만 사용 범위가 라우터로 정해진다.
-에러 처리 미들웨어
다른 미들웨어와 다르게 4개의 매개변수를 가진다.
에러를 처리하는 목적으로 만들어진 미들웨어다.
-빌트 인 미들웨어
-서드 파티 미들웨어
npm으로 설치하는 미들웨어들을 말한다.
---BodyParser Middleware :우리가 사용할 'BodyParser' 미들웨어는 express에서 직접 제공하는 미들웨어는 아니고, 
                                     제 3자가 만든 미들웨어입니다
express: express란, NodeJS를 사용하여 서버를 개발하고자 하는 개발자들을 위하여 서버를 쉽게 구성할 수 있게 만든 프레임워크다. 
프레임워크란, 클래스와 라이브러리의 집합체라고 보면 된다.


--라우팅이란 url의 정의와 url이 클라이언트 요청에 응답하는 방식입니다.
어떤 네트워크 안에서 데이터를 통신할 때 최적의 경로를 선택하는 과정입니다.
라우터(Router)는 클라이언트의 요청이 들어오면, 해당 요청의 경로에 맞는 곳으로 보내주는 역할을 한다.
이러한 역할을 라우팅(Routing)이라 부른다